<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign In</title>
    
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <link rel="stylesheet" href="../../static/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="useFont/css/all.css">
<link rel="stylesheet" href="../../static/css/signin.css">
</head>
<body>
        <div class="container">
            <div class="form-box">
                <p class="ms-madi-regular">MindShiftWithAshe</p>
                <img src="imgBlog/signup2.jpg" alt="">
                <h4>Sign In</h4>
                <form action="">
                   <div class="input-email">
                       <span class="emLabel">Email</span>
                   <div class="email">
                        <input type="email" placeholder="email">
                   </div>
                   </div>
                   <div class=" passFor d-flex">
                        password <a href="#">Forgot password?</a>
                   </div>
                   <div  class="input-password">
                    <div class="pass">
                         <input type="password" placeholder="password">
                    </div>
                   </div>
                   <div class="button-link">
                       <a href="">
                           <div class="signin-button">Sign In</div>
                       </a>
                   </div>
                </form>
            </div>
        </div>
           
</body>
</html>
